.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Question {
  text-align: left;
}

.Choices {
  text-align: left;
  font-size: 0.8em;
}

.ResultList {
  text-align: left;
}

.ResultLink {
  color: #61dafb;
  font-size: 0.8em;
}

.Disclamer {
  font-size: 0.4em;
}

.DisclamerLink {
  color: #58a6ff;
}
